/*===== Variables ====================*/
:root {
    /*Color Pallet*/
    --color-pallet-blue-main: #1685c7;
    --color-pallet-blue-light: #2299cc;
    --color-pallet-blue-dark: #1166aa;
    --color-pallet-orange-main: #dd7733;
    --color-pallet-orange-light: #f88e49;
    --color-pallet-red-main: #cc3344;
    --color-pallet-red-light: #d65c69;
    --color-pallet-green-main: #22cc66;
    --color-pallet-green-light: #42df81;
    --color-pallet-purple-main: #5522cc;
    --color-pallet-purple-light: #7142df;
    --color-pallet-black: #000000;
    --color-pallet-black-off: #111111;
    --color-pallet-gray-dark-dark: #222222;
    --color-pallet-gray-dark: #444444;
    --color-pallet-gray-mid: #666666;
    --color-pallet-gray-light: #999999;
    --color-pallet-gray-light-light: #bbbbbb;
    --color-pallet-white-off: #dddddd;
    --color-pallet-white: #ffffff;
    --color-pallet-gray-blue-dark: #1f1f25;
    --color-pallet-gray-blue: #292930;
    --color-pallet-gray-blue-light: #4b4b52;
    --color-pallet-gray-blue-light-light: #95959d;

    /*Component Color Definitions*/
    /*Backgrounds*/
    --color-bg-window: var(--color-pallet-gray-blue-dark);
    --color-bg-app: var(--color-pallet-gray-blue);
    --color-bg-field: var(--color-pallet-gray-blue-light);

    /*Text*/
    --color-txt-default: var(--color-pallet-white-off);
    --color-txt-field: var(--color-pallet-white-off);
    --color-txt-dot-complete: var(--color-pallet-gray-light);

    /*Buttons*/
    --color-btn: var(--color-pallet-gray-dark);
    --color-btn-hover: var(--color-pallet-red-main);
    --color-btn-active: var(--color-pallet-red-light);
}

/*===== Styles ====================*/
*{
    margin: 0;
    padding: 0;
    color: var(--color-txt-default);
    font-family: 'Comfortaa';
    box-sizing: border-box;
}

.container{
    width: auto;
    min-height: 100vh;
    background: var(--color-bg-window); /*linear-gradient(25deg, var(--color-bg-darker), var(--color-bg-ligher)); */
    padding: 10px;
}
    .dot-app{
        width: auto;
        max-width: 540px;
        background: var(--color-bg-app);
        margin: 100px auto 20px;
        padding: 30px 30px 30px;
        border-radius: 10px;
    }
        .title-row{
            display: flex;
            align-items: center;
            justify-content: left;
            padding-left: 0px;
            margin-bottom: 25px;
        }
            .title-row img{
                width: 120px;
                margin-left: 10px;
            }

        .add-row{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: var(--color-bg-field);
            border-radius: 30px;
            padding-left: 20px;
            margin-bottom: 25px;
        }
            .add-row input{
                flex: 1;
                border: none;
                outline: none;
                color: var(--color-txt-field);
                background: transparent;
                padding: 10px;
                font-size: 16px;
                min-width: 0;
            }
            .add-row button{
                border: none;
                outline: none;
                padding: 16px 30px;
                background: var(--color-btn);
                color: #ddeeff;
                font-size: 16px;
                cursor: pointer;
                border-radius: 40px;
            }
                .add-row button:hover{
                    background: var(--color-btn-hover);
                }
                .add-row button:active{
                    background: var(--color-btn-active);
                }
        .dot-view{
            background-color: var(--color-bg-window);
            padding: 10px 15px 10px 10px;
            margin-bottom: 25px;
            border-radius: 10px;
        }
        .dot-view ul{
            list-style: none;
            padding-top: 0;
            /*padding: 10px 5px 5px auto;*/
            /*margin: 10px auto;*/
            padding-inline-start: 20px;

            border-style: dotted;
            border-color: white;
            border-width: 0px;
        }
            .dot-view li > ul {
                margin-top: 10px;
            }
            /*
            .dot-view ul li{
                border-style: hidden;
                padding: 5px 5px 5px auto;
                margin: 10px auto;
                list-style-position: inside;
                border-style: dotted;
                border-color: yellow;
                user-select: none;
                cursor: pointer;
                border-width: 0px;
            }
            */
            .dot-view li + li {
                margin-top: 10px;
              }
            
            .dot-view div{
                display: flex;
                justify-content: left;
                align-items: baseline;
                gap: 20px;
                max-width: 540px;
                margin: 30px 30px 5px, 5px;
                padding: 10px 10px 10px 10px;
                border-radius: 10px;
                background-color: var(--color-bg-app);
                user-select: none;
                cursor: pointer;
            }
        .file-row{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: transparent;
            border-radius: 30px;
            padding-left: 0px;
            margin-bottom: 25px;
        }
            .file-row button{
                border: none;
                outline: none;
                padding: 16px 30px;
                background: var(--color-btn);
                color: #ddeeff;
                font-size: 16px;
                cursor: pointer;
                border-radius: 40px;
            }
                .file-row button:hover{
                    background: var(--color-btn-hover);
                }
                .file-row button:active{
                    background: var(--color-btn-active);
                }
